
.categories-grid{
  //height: 580px;
  margin:5px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  &__left {

  }
  &__right {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }
}

.grid-item {
  position: relative;
  overflow: hidden;
  height: 100%;
  .description {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    border-bottom:solid 4px white;
    text-shadow:
            -0 -2px 2px #414141,
            0 -2px 2px #414141,
            -0 2px 2px #414141,
            0 2px 2px #414141,
            -2px -0 2px #414141,
            2px -0 2px #414141,
            -2px 0 2px #414141,
            2px 0 2px #414141,
            -1px -2px 2px #414141,
            1px -2px 2px #414141,
            -1px 2px 2px #414141,
            1px 2px 2px #414141,
            -2px -1px 2px #414141,
            2px -1px 2px #414141,
            -2px 1px 2px #414141,
            2px 1px 2px #414141,
            -2px -2px 2px #414141,
            2px -2px 2px #414141,
            -2px 2px 2px #414141,
            2px 2px 2px #414141,
            -2px -2px 2px #414141,
            2px -2px 2px #414141,
            -2px 2px 2px #414141,
            2px 2px 2px #414141;
    color: #FFFFFF;
    transition: bottom 0.9s, left 0.9s;
  }

  .shadow {
    background: #000;
    overflow: hidden;
  }
  img {
    opacity: 1;
    height: 100%;
    width: 100%;
    //object-fit: cover;
    transition: opacity 1.2s, transform 1.2s;
  }

}
.grid-item:hover img{
  opacity: 0.5;
  transform: scale(1.2);
}
.grid-item:hover .description{
  bottom: 30px;
  left: 30px;
}

@media (max-width: 1400px) {

}
@media (max-width: 1024px) {

  .grid-item {

    .description {
      font-size: 26px;
      line-height: 35px;
    }
  }
}

@media (max-width: 570px) {
  .grid-item {

    .description {
      font-size: 15px;
      line-height: 20px;
      border-bottom:solid 2px white;
    }
  }
}