@import "../../variables";

.middle-wrapper {

  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;

  @media (max-width: 1400px) {

  }
  @media (max-width: 1024px) {

  }

  @media (max-width: 570px) {
    display: block;
  }
  
}

.top-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;
  .path {
    color: $color_grey;
    @include font('Raleway', 500, 25px);
    display: inline-block;
    a {
      color: $color_grey;
    }
    a:hover {
      color: $color_orange;
    }
  }
  

}
