@import "../../variables";

.middle-wrapper {

  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;

  @media (max-width: 1400px) {

  }
  @media (max-width: 1024px) {

  }

  @media (max-width: 570px) {
    display: block;
  }
  
}

.top-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 20px;
  user-select: none;
}
