@import "../../variables";

.center-box {


  &__title {
    height: 150px;
    position: relative;

    .line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .border {
      background-color: #FFFFFF;
      border: solid 2px black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      h2 {
        display: inline-block;
        @include font('Raleway', 500, 60px);
        padding:0 6px;
        text-transform: uppercase;
        text-align: center;

        color: $color_grey;
      }
    }
  }


  @media (max-width: 1400px) {



  }


  @media (max-width: 1024px) {

    .center-box__title {

      h2 {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }


  @media (max-width: 570px) {

    .center-box__title {
      height: 100px;
      h2 {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}