.catalog{
  position: relative;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;

  &Grid {
    max-width: 100%;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(460px, 460px));
    justify-content: center;
    margin-bottom: 60px;

    &Item {

    }
  }

  .numbersOfPage {
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: #A8A8A8;
    span {
      margin: 0 10px;
      transition-duration: 0.3s;
    }
    span.active {
      color: orange;
      font-size: 35px;
    }
    span:hover {
      cursor: pointer;
      color: orange;
    }
  }

  @media (max-width: 1400px) {

  }
  @media (max-width: 1024px) {

  }

  @media (max-width: 570px) {

  }
}

