@import "../../variables";

.contacts {
  position: relative;
  height: 400px;
  margin-top: 2px;
  margin-bottom: 5px;
  background: url('../../img/background/contacts_2.jpg') 0 0/100% auto no-repeat;
  .background {
    width: 100%;
  }

  .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 15px;
    color: white;
    .element {
      @include font('Montserrat', 700, 30px)
    }
    .content {
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: 700;
    }
  }


  @media (max-width: 1024px) {
    height: 300px;
    .info {
      padding: 10px;

      .title {
        @include font('Montserrat',500, 15px);
        font-size: 20px;
      }

      .content {
        @include font('Montserrat',700, 20px);
      }
    }

  }

  @media (max-width: 570px) {
    height: 200px;
    .info {
      padding: 15px 10px;
      .title {
        display: inline-block;
        @include font('Montserrat',500, 10px)
      }

      .content {
        margin-left: 3px;
        display: inline-block;
        margin-bottom: 0;
        @include font('Montserrat',700, 13px)
      }
    }

  }
}