@import "../../variables";

.contacts {
  position: relative;

  .background {
    width: 100%;
  }

  .info {
    position: absolute;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    border: solid 4px black;
    padding: 15px;

    .element {
      @include font('Montserrat', 500, 20px)
    }

    .content {
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: 700;
    }
  }


  @media (max-width: 1024px) {

    .info {
      position: static;
      transform: translateY(0);
      border: none;
      padding: 10px;

      .title {
        @include font('Montserrat',500, 15px);
        font-size: 20px;
      }

      .content {
        @include font('Montserrat',700, 20px);
      }
    }

  }

  @media (max-width: 570px) {
    .info {
      padding: 15px 10px;
      .title {
        display: inline-block;
        @include font('Montserrat',500, 10px)
      }

      .content {
        margin-left: 3px;
        display: inline-block;
        margin-bottom: 0;
        @include font('Montserrat',700, 13px)
      }
    }

  }
}